@import "variables";

.list {
  display: flex;
  flex-direction: column;
  gap: $base-unit;

  .list-item {
    display: flex;
    flex-direction: row;
    gap: $base-unit * 3;
    align-items: center;
    border: 1px solid $gray-300;
    border-radius: $base-unit;
    padding: $base-unit * 2;
    background: white;
    line-height: 1.5;
    .text {
      flex: 1;
    }

    &.completed {
      .text {
        text-decoration: line-through;
        color: $gray-500;
      }
    }
  }
}
