@import "core/variables";

$header-height: $base-unit * 30;

header {
  height: $header-height;
  background: $delft-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-bottom: $input-height / 2;

  .logo {
    margin-bottom: $header-height / 2 - $input-height;
  }

  .todo-form {
    display: flex;
    flex-direction: row;
    margin-bottom: $input-height / -2;

    .input {
      flex: 1;
    }
    .button {
      margin-left: $base-unit;
    }
  }
}
